@font-face {
    font-family: 'Bit5x3';
    src: url('/fonts/bit5x3.ttf') format('truetype');
    font-display: block;
  }
  
  .bb {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    display: none;
    border: none;
    background: #111;
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
    border-radius: 20px;
  }
  
  .screen {
    display: none !important;
    width: 100vw;
    height: 100vh;
  }
  
  .screen.visible {
    display: flex !important;
  }
   
  
  .column-screen {
    flex-direction: column;
  }
  
  .row-screen {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .spacer {
    flex: 1;
  }
  
  .palette {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 10px;
    margin: 10px 0;
  }
  
  .palette button {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .palette button.selected {
    border: 3px solid gold;
  }
  
  .paddle-preview {
    margin-top: 20px;
    width: 20px;
    height: 120px;
    background-color: white;
    border: 3px solid #eee;
  }
  
  .title {
    font-size: 48px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  }
  
  .btn-large {
    margin-top: 40px;
    font-size: 32px;
    padding: 20px 50px;
    border: 4px solid white;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 10px white, 0 0 20px #00ffff inset;
  }
  
  .btn-large:hover {
    background: #111;
    color: #00ffff;
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff inset;
  }
  
  .btn-large.active-bot {
  background: #4caf50;
  color: #fff;
}