@import "../../style.css";

.stats-page {
    @apply bg-body flex flex-col justify-center items-center p-4 w-screen h-screen      
}

.stats-container {
    @apply border-1 border-c-300 min-w-[80vh] max-w-[90vh] text-white
}

.stats-element {
    @apply p-2
}