@import "../../style.css";

.profile-div {
    @apply p-3
}

.container-shadow {
    box-shadow: 0 0 10px #3F83F8, 0 0 40px #3F83F8;
}

.profile-container {
    @apply text-white w-[80%] p-4 rounded-2xl
            border-1 border-c-300
}

.profile-element {
    @apply p-2 flex justify-between text-2xl
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Ensures image fills circle properly */
}

.stats-div {
    @apply p-3
}

.stats-container { 
    @apply text-white p-4 rounded-2xl
            border-1 border-c-300
}

.stats-element {
    @apply p-2 flex justify-between text-2xl
}