@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: 'Arcade';
  src: url('./utils/fonts/arcade-classic.TTF');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.arcade-font {
  font-family: 'Arcade' !important;
}

@font-face {
  font-family: 'Xirod';
  src: url('./utils/fonts/Xirod.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.xirod-font {
  font-family: 'Xirod' !important;
}

@font-face {
  font-family: 'Led';
  src: url('./utils/fonts/led_counter.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.led-font {
  font-family: 'Led' !important;
}

@font-face {
  font-family: 'Digital';
  src: url('./utils/fonts/Technology.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.digital-font {
  font-family: 'Digital' !important;
}

@font-face {
  font-family: 'Digital-bold';
  src: url('./utils/fonts/Technology-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.digital-b-font {
  font-family: 'Digital-bold' !important;
}

@font-face {
  font-family: 'Rushblade';
  src: url('./utils/fonts/Rushblade.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.rushblade-font {
  font-family: 'Rushblade' !important;
}

/* Colors */
@theme {
  --color-body: #030712;
  --color-icon: #1E429F;
  --color-icon-hover: #1C64F2;
  --color-nav-shadow: #00ffff;
  
  --color-c-50: #eff6ff;
  --color-c-100: #dbeafe;
  --color-c-200: #bfdbfe;
  --color-c-300: #93c5fd;
  --color-c-400: #60a5fa;
  --color-c-500: #3b82f6;
  --color-c-600: #2563eb;
  --color-c-700: #1d4ed8;
  --color-c-800: #1e40af;
  --color-c-900: #1e3a8a;
}

[data-theme="blue"] {
  --primary: #1e40af;
  --secondary: #3F83F8;
  --hover: #3b82f6;
  --shadow-glow: 0 0 20px var(--secondary);
  --shadow-lateral: 0 0 35px var(--secondary);
}

[data-theme="green"] {
  --primary: #22ff22;
  --secondary: #7bf1a8;
  --hover: #05df72;
  --shadow-glow: 0 0 20px var(--primary);
  --shadow-lateral: 0 0 35px var(--primary);
}

[data-theme="cyan"] {
  --primary: #0e7490;
  --secondary: #22d3ee;
  --hover: #06b6d4;
  --shadow-glow: 0 0 20px var(--secondary);
  --shadow-lateral: 0 0 35px var(--secondary);
}

[data-theme="game"] {
  --primary: #00FFFF;
  --secondary: #40E0D0;
  --hover: #00CED1;
  --shadow-glow: 0 0 20px var(--secondary);
  --shadow-lateral: 0 0 35px var(--secondary);
}

#00FFFF

body {
  overflow-x: hidden;
}

h1 {
  @apply font-['Rushblade']
}

/*  NAVBAR */
nav {
  @apply shadow-[var(--shadow-lateral)] !shadow-[var(--shadow-lateral)];
}

.sidebar-icon {
  @apply relative flex items-center justify-center h-12 w-12 mx-auto my-2 bg-[color:var(--primary)]
          hover:bg-[color:var(--hover)] hover:shadow-[var(--shadow-glow)]
          rounded-3xl 
          transition-all duration-200 ease-linear;
}

.sub-icon {
  @apply relative flex items-center justify-center h-10 w-10 mx-auto my-2 bg-[color:var(--secondary)]
          hover:bg-[color:var(--hover)] hover:shadow-[var(--shadow-glow)]
          rounded-3xl 
          transition-all duration-200 ease-linear;
}


